<div class="signup-div d-flex align-items-center justify-content-center">
    <div class="p-5 mt-5 bg-dark rounded text-light w-50">
        <input type="text" class="form-control mb-3" placeholder="User name">
        <input type="email" class="form-control mb-3" placeholder="Email">
        <input type="password" class="form-control mb-2" placeholder="Password">
        <p>Have an account? <a routerLink="/auth/signin" class="text-warning fw-bold"> Signin </a></p>
        <button class="btn btn-warning ">Register</button>
    </div>
</div>
