<div class="p-5 pb-2 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">About</h1>
      <p class="col-md-8 fs-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, possimus. Blanditiis, corrupti beatae. Minus inventore, dolorum reprehenderit, commodi nam corrupti temporibus ipsa rerum officia praesentium assumenda illum quis maxime molestias? Optio a deleniti, odit ex, iure id ullam, aliquid quo adipisci aliquam vero eum. Impedit inventore laborum amet autem obcaecati tempore aut iusto minima fuga!</p>
    </div>
</div>