body
{
    margin: 0px;
    padding: 0px;
    background-image: url("../images/background_1.wide.jpeg");
}

.fas:hover
{
    
    transform: scale(1.15);
    transition: all 1s;
}
#restLogo
{
    position: absolute;
    top: 0px;
    left: 55px;
}
#animatedO
{
    position: absolute;
    top: 0;
    left: 23px;
    animation-name: oo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes oo 
{
    0% {left: 23px;}
    25% {left: 27px;}
    75% {left: 17px;}
    100% {left: 23px;}
}

